# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
absl-py=0.11.0=pypi_0
altair=4.1.0=pypi_0
appnope=0.1.0=py36hf537a9a_0
astor=0.8.1=pypi_0
async_generator=1.10=py_0
attrs=20.2.0=py_0
backcall=0.2.0=py_0
base58=2.0.1=pypi_0
benepar=0.1.2=pypi_0
bert-extractive-summarizer=0.5.1=pypi_0
blas=1.0=mkl
bleach=3.2.1=py_0
blinker=1.4=pypi_0
blis=0.2.4=pypi_0
boto3=1.16.9=pypi_0
botocore=1.19.9=pypi_0
ca-certificates=2020.10.14=0
cached-property=1.5.2=pypi_0
cachetools=4.1.1=pypi_0
certifi=2020.6.20=pyhd3eb1b0_3
chardet=3.0.4=pypi_0
click=7.1.2=pypi_0
conda=4.3.16=pypi_0
cymem=2.0.3=pypi_0
cython=0.29.21=py36hb1e8313_0
dataclasses=0.7=pypi_0
dbus=1.13.18=h18a8e69_0
decorator=4.4.2=py_0
defusedxml=0.6.0=py_0
en-core-web-sm=2.1.0=pypi_0
entrypoints=0.3=py36_0
enum-compat=0.0.3=pypi_0
expat=2.2.10=hb1e8313_2
filelock=3.0.12=pypi_0
flashtext=2.7=pypi_0
future=0.18.2=pypi_0
gast=0.4.0=pypi_0
gensim=3.8.3=pypi_0
gettext=0.19.8.1=hb0f4f8b_2
gitdb=4.0.5=pypi_0
gitpython=3.1.11=pypi_0
glib=2.66.1=h9bbe63b_0
google-pasta=0.2.0=pypi_0
grpcio=1.33.2=pypi_0
h5py=3.0.0=pypi_0
icu=58.2=h0a44026_3
idna=2.10=pypi_0
importlib-metadata=2.0.0=py_1
importlib_metadata=2.0.0=1
intel-openmp=2019.4=233
ipykernel=5.3.4=py36h5ca1d4c_0
ipython=7.16.1=py36h5ca1d4c_0
ipython_genutils=0.2.0=py36_0
ipywidgets=7.5.1=py_1
jedi=0.17.2=py36_0
jinja2=2.11.2=py_0
jmespath=0.10.0=pypi_0
joblib=0.17.0=pypi_0
jpeg=9b=he5867d9_2
jsonschema=2.6.0=pypi_0
jupyter=1.0.0=py36_7
jupyter_client=6.1.7=py_0
jupyter_console=6.2.0=py_0
jupyter_core=4.6.3=py36_0
jupyterlab_pygments=0.1.2=py_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
langcodes=2.1.0=pypi_0
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
libiconv=1.16=h1de35cc_0
libpng=1.6.37=ha441bb4_0
libsodium=1.0.18=h1de35cc_0
marisa-trie=0.7.5=pypi_0
markdown=3.3.3=pypi_0
markupsafe=1.1.1=py36h1de35cc_0
mistune=0.8.4=py36h1de35cc_0
mkl=2019.4=233
mkl-service=2.3.0=py36hfbe908c_0
mkl_fft=1.2.0=py36hc64f4ea_0
mkl_random=1.1.1=py36h959d312_0
murmurhash=1.0.2=pypi_0
nbclient=0.5.1=py_0
nbconvert=6.0.7=py36_0
nbformat=5.0.8=py_0
ncurses=6.2=h0a44026_1
nest-asyncio=1.4.1=py_0
networkx=2.5=pypi_0
nltk=3.4.5=pypi_0
notebook=6.0.3=py36_0
numpy=1.19.3=pypi_0
numpy-base=1.19.2=py36hcfb5961_0
openssl=1.1.1h=haf1e3a3_0
packaging=20.4=py_0
pandas=1.1.4=pypi_0
pandoc=2.11=h0dc7051_0
pandocfilters=1.4.2=py36_1
parso=0.7.0=py_0
pathtools=0.1.2=pypi_0
pcre=8.44=hb1e8313_0
pexpect=4.8.0=py36_0
pickleshare=0.7.5=py36_0
pillow=8.0.1=pypi_0
pip=20.2.4=py36_0
pke=1.8.1=pypi_0
plac=0.9.6=pypi_0
preshed=2.0.1=pypi_0
prometheus_client=0.8.0=py_0
prompt-toolkit=3.0.8=py_0
prompt_toolkit=3.0.8=0
protobuf=3.13.0=pypi_0
ptyprocess=0.6.0=py36_0
pyarrow=2.0.0=pypi_0
pycosat=0.6.3=pypi_0
pycparser=2.20=py_2
pydeck=0.5.0=pypi_0
pygments=2.7.2=pyhd3eb1b0_0
pyparsing=2.4.7=py_0
pyqt=5.9.2=py36h655552a_2
pyrsistent=0.17.3=py36haf1e3a3_0
python=3.6.12=h26836e1_2
python-dateutil=2.8.1=py_0
pytz=2020.1=pypi_0
pywsd=1.2.4=pypi_0
pyzmq=19.0.2=py36hb1e8313_1
qt=5.9.7=h468cd18_1
qtconsole=4.7.7=py_0
qtpy=1.9.0=py_0
readline=8.0=h1de35cc_0
regex=2020.10.28=pypi_0
requests=2.24.0=pypi_0
ruamel-yaml=0.16.12=pypi_0
ruamel-yaml-clib=0.2.2=pypi_0
s3transfer=0.3.3=pypi_0
sacremoses=0.0.43=pypi_0
scikit-learn=0.23.2=pypi_0
scipy=1.5.3=pypi_0
send2trash=1.5.0=py36_0
sentence-transformers=0.3.8=pypi_0
sentencepiece=0.1.94=pypi_0
setuptools=50.3.0=py36h0dc7051_1
sip=4.19.8=py36h0a44026_0
six=1.15.0=py_0
sklearn=0.0=pypi_0
smart-open=3.0.0=pypi_0
smmap=3.0.4=pypi_0
spacy=2.1.0=pypi_0
sqlite=3.33.0=hffcf06c_0
srsly=1.0.2=pypi_0
streamlit=0.70.0=pypi_0
summa=1.2.0=pypi_0
tensorboard=1.14.0=pypi_0
tensorflow=1.14.0=pypi_0
tensorflow-estimator=1.14.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.9.1=py36_0
testpath=0.4.4=py_0
thinc=7.0.8=pypi_0
threadpoolctl=2.1.0=pypi_0
tk=8.6.10=hb0a8c7a_0
tokenizers=0.8.1rc2=pypi_0
toml=0.10.2=pypi_0
toolz=0.11.1=pypi_0
torch=1.4.0=pypi_0
tornado=6.0.4=py36h1de35cc_1
tqdm=4.51.0=pypi_0
traitlets=4.3.3=py36_0
transformers=3.3.1=pypi_0
typing-extensions=3.7.4.3=pypi_0
tzlocal=2.1=pypi_0
unidecode=1.1.1=pypi_0
urllib3=1.25.11=pypi_0
validators=0.18.1=pypi_0
wasabi=0.8.0=pypi_0
watchdog=0.10.3=pypi_0
wcwidth=0.2.5=py_0
webencodings=0.5.1=py36_1
werkzeug=1.0.1=pypi_0
wheel=0.35.1=py_0
widgetsnbextension=3.5.1=py36_0
wn=0.0.23=pypi_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h1de35cc_0
zeromq=4.3.3=hb1e8313_3
zipp=3.4.0=pyhd3eb1b0_0
zlib=1.2.11=h1de35cc_3
